@model IQueryable<Demo.Models.Department.DepartmentVM>
@* @model IEnumerable<CampStack.DAL.Entities.Department> *@

@{
    ViewBag.Title = "Department";
}

<h1 class = "">Departments List</h1>
 
<a asp-controller = "Department" asp-action = "Create" >Create Department</a> 

 <!-- Main content -->
    <section class="content">

      <!-- Default box -->
      <div class="card">
        <div class="card-header">
          <h3 class="card-title">Projects</h3>

          <div class="card-tools">
            <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
              <i class="fas fa-minus"></i>
            </button>
            <button type="button" class="btn btn-tool" data-card-widget="remove" title="Remove">
              <i class="fas fa-times"></i>
            </button>
          </div>
        </div>
        <div class="card-body p-0">
          <table class="table table-striped projects">
              <thead>
                  <tr>
                      <th style="width: 1%">
                          #
                      </th>
                      <th style="width: 20%">
                          Department Name
                      </th>
                      <th style="width: 30%">
                          Department Employees
                      </th>
                      <th style="width: 8%">
                          Department Code
                      </th>
                      <th style="width: 20%">
                      </th>
                  </tr>
              </thead>

              <tbody>
                @{foreach (var item in Model)
                {
                    <tr>
                        <td>
                          #
                      </td>
                      <td>
                          <a>
                            @item.DepartmentName
                          </a>
                          <br/>
                          <small>
                              Created 01.01.2019
                          </small>
                      </td>
                      <td>
                          <ul class="list-inline">
                              <li class="list-inline-item">
                                  <img alt="Avatar" class="table-avatar" src="../../dist/img/avatar.png">
                              </li>
                              <li class="list-inline-item">
                                  <img alt="Avatar" class="table-avatar" src="../../dist/img/avatar2.png">
                              </li>
                              <li class="list-inline-item">
                                  <img alt="Avatar" class="table-avatar" src="../../dist/img/avatar3.png">
                              </li>
                              <li class="list-inline-item">
                                  <img alt="Avatar" class="table-avatar" src="../../dist/img/avatar4.png">
                              </li>
                          </ul>
                      </td>
                      <td>
                          @item.DepartmentCode
                      </td>
                      <td class="project-actions text-right">
                          <a class="btn btn-primary btn-sm" href="#">
                              <i class="fas fa-folder">
                              </i>
                              View
                          </a>
                          <a asp-controller = "Department" asp-action = "Edit" asp-route-id="@item.Id" class="btn btn-info btn-sm">
                              <i class="fas fa-pencil-alt">
                              </i>
                              Edit
                          </a>
                          <a asp-controller = "Department" asp-action = "Delete" asp-route-id="@item.Id" class="btn btn-danger btn-sm">
                              <i class="fas fa-trash">
                              </i>
                              Delete
                          </a>
                      </td>

                    </tr>
                }}

              </tbody>
          </table>
        </div>
        <!-- /.card-body -->
      </div>
      <!-- /.card -->

    </section>
    <!-- /.content -->